[Unit]
Description=Environment Service
After=syslog.target network.target

[Service]
User=environment
Group=dialout
EnvironmentFile=/etc/environment.conf

Type=simple
ExecStart=/usr/bin/python /usr/bin/environment.py -s ${SITE} -l ${LOCATION} 
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
